# 1. Take values of the length & breadth of a rectangle from user input and check if it is square or not

In [1]:
#Taking inputs
length = int(input("Enter the length: "))
breadth = int(input("Enter the breadth: "))

#checking and printing square or not
if length==breadth:
    print("It's a square.")
else:
    print("It's a rectangle.")

Enter the length: 46
Enter the breadth: 46
It's a square.

# 2. Take three integer values from the user and print the greatest among them.

In [2]:
#taking inputs
a = int(input("Enter first value: "))
b = int(input("Enter second value: "))
c = int(input("Enter third value: "))

#checking and print the biggest number
if a >b:
    if a>c:
        print(a,"is the largest.")
    else:
        print(c,"is the largest.")
else:
    print(b,"is the largest.")

Enter first value: 45
Enter second value: 54
Enter third value: 45
54 is the largest.

# 3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [3]:
#Taking inputs of total class held, class attanded, and the attandence percentage
total_class_held = int(input("Enter the number of total class held: "))
total_class_attanded = int(input("Enter the number of class attanded: "))
class_attandence_percentage = (total_class_attanded/total_class_held)*100

#checking the student is eligible or not to sit in exam
if class_attandence_percentage>=75:
    print("The student is allowed to sit in exam.")
else:
    print("The student is not allowed to sit in exam.")

Enter the number of total class held: 81
Enter the number of class attanded: 75
The student is allowed to sit in exam.

# 4. A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [4]:
#Taking marks from user
marks =int(input("Enter the marks: "))
#Checking the input is valid or not and printing the grade
if marks <0 or marks>100:
    print("Invalid input! Marks should be in between 0 and 100.")
else:
    if marks<25:
        print("F grade.")
    elif 25<=marks<=44:
        print("E grade.")
    elif 45<=marks<=49:
        print("D grade.")
    elif 50<=marks<=59:
        print("C grade.")
    elif 60<=marks<=79:
        print("B grade.")
    elif 80<=marks<=89:
        print("A grade.")
    else:
        print("A+ grade.")

Enter the marks: 79
B grade.

# 5. Print the following pattern using for and while loop.
1 2 3 4 5 6 7 |
1 2 3 4 5 6 |
1 2 3 4 5 |
1 2 3 4 |

In [5]:
#printing pattern using for loop
for i in range(7,3,-1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [7]:
#printing pattern using while loop

i = 7
while i > 3:
    j = 1
    while j <= i:
        print(j, end=' ')
        j += 1
    print()
    i -= 1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

# 6. Display numbers from -100 to -10 using for loop.

In [9]:
#Displaying numbers from -100 to -10 using for loop

for num in range(-100, -9):
    print(num)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

# 7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [10]:
#Initializing the range of numbers and their sum
low = int(10)
high = int(1000)
prime_sum = 0

#Finding prime numbers and adding them
for num in range (low, high+1):
    if num>1:
        for i in range (2, num):
            if (num%i ==0):
                break
        else:
            prime_sum += num
print("Sum of the prime numbers from",low,"to",high,"is: ",prime_sum)

Sum of the prime numbers from 10 to 1000 is:  76110

# 8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [11]:
n = int(input("Enter the number: "))
factorial = 1
for i in range(1, n+1):
    factorial = factorial*i

print("Factorial of",n,"is: ",factorial)

Enter the number: 7
Factorial of 7 is:  5040

# 9. Reverse a given integer number 27956240710.

In [12]:
#reversing the given number using while loop
given_number = 27956240710
print("The given number is:", given_number)

reversed_number =0

while given_number>0:
    reversed_number = (reversed_number*10)+ given_number%10
    given_number = given_number//10

print("Reversed number is: ", reversed_number)

The given number is: 27956240710
Reversed number is:  1704265972

# 10. Print the following pattern using for and while loop.
# # #
# # # #
# # # 
# #

In [13]:
#displaying patteren using for loop
for i in range(1):
    for j in range(3):
        print("#", end=' ')
    print()
for i in range(3):
    for j in range(4 - i):
        print("#", end=' ')
    print()

# # #
# # # #
# # #
# #

In [14]:
#displaying patteren using while loop
n = 4
i = 3
while i < n:
    j = 1
    while j <= i:
        print("#", end=' ')
        j += 1
    print()
    i += 1
n = 3
i = 0
while i < n:
    j = n
    while j>=i:
        print("#", end=' ')
        j-=1
    print()
    i +=1

# # #
# # # #
# # #
# #

# 11. Display the Fibonacci series of 15 elements using the for and while loop.

In [15]:
#displaying fibonacci series using for loop 
n = int(15)
a = 0
b = 1
count = 0
for x in range (n):
    print(count, end=" ")
    count = a+b
    b = a
    a = count

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [16]:
#displaying fibonacci series using while loop 
n = int(15)
a, b = 0, 1
count = 0

while count < n:
    print(a, end=" ")
    sum = a + b
    a = b
    b = sum
    count += 1

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

# 12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [17]:
#replacing specific values inside of a list
Li = [1,3,5,[2,3], True]
Li[3][0]=3
Li[4]=False
print(Li)

[1, 3, 5, [3, 3], False]

# 13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [18]:
#finding intersections of two sets
S1= {1,4,6,8}
S2= {True, 1, 2, 10}

intersection_set = S1.intersection({int(True)} | S2)
print("Intersection:",intersection_set)

Intersection: {1}

# 14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [19]:
#Take input from user as a comma-separated string and convert it into a list of integers
user_input = input("Enter a list of numbers separated by commas: ")
user_list = [int(x) for x in user_input.split(",")]
#Remove duplicates by creating a new list with unique elements
unique_list = []
for num in user_list:
    if num not in unique_list:
        unique_list.append(num)

#create a set from the unique list
unique_set = set(unique_list)

#Find teh maximum number in the unique set
max_number = max(unique_set)

print("Original list:", user_list)
print("List after removing duplicates: ", unique_list)
print("Set after removing duplicates:", unique_set)
print("Maximum number:", max_number)

Enter a list of numbers separated by commas: 1,9,3,4,5,200,54
Original list: [1, 9, 3, 4, 5, 200, 54]
List after removing duplicates:  [1, 9, 3, 4, 5, 200, 54]
Set after removing duplicates: {1, 3, 4, 5, 200, 9, 54}
Maximum number: 200

# 15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [20]:
#Original dictionary
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany"}

#Defining new key
Dict["region"] = Dict.pop("country")

print("Updated dictionary:", Dict)

Updated dictionary: {'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

# 16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [21]:
#creating a data frame using list
import pandas as pd 

#List of numbers
num = [10, 100, 300]

#Create a data frame with the list as a single column named "number"
df = pd.DataFrame({"number": num})

#Print the DataFrame
print(df)

   number
0      10
1     100
2     300

# 17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [22]:
# Given dictionary
Dict = {"name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany"}

# Change the value of the "age" key to 28
Dict["age"] = 28

print("Updated dictionary:", Dict)

Updated dictionary: {'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}